.on-boarding-wrapper {
  background: #121212;
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 640px;
  overflow: hidden;
  position: relative;

  .animation-bg {
    position: absolute;
    width: 100%;
    height: 600%;
    opacity: 0.9;
    background: linear-gradient(
      to bottom,
      rgba(10, 27, 53, 1) 0%,
      rgba(214, 40, 92, 1) 11%,
      rgba(214, 40, 92, 1) 11%,
      rgba(224, 153, 11, 1) 28%,
      rgba(206, 226, 234, 1) 38%,
      rgba(118, 205, 242, 1) 53%,
      rgba(255, 181, 91, 1) 66%,
      rgba(128, 74, 137, 1) 76%,
      rgba(128, 74, 137, 1) 76%,
      rgba(21, 25, 43, 1) 100%
    );
    transition: top 3s ease 0.125s;

    &[data-step="1"] {
      top: 0%;
    }

    &[data-step="2"] {
      top: -300%;
    }

    &[data-step="3"] {
      top: -500%;
    }
  }

  .slides {
    height: 90%;
    width: 100%;
    overflow: hidden;
    position: relative;

    &[data-step="1"] {
      .wrapper {
        left: 0%;
      }
    }

    &[data-step="2"] {
      .wrapper {
        left: -100%;
      }
    }

    &[data-step="3"] {
      .wrapper {
        left: -200%;
      }
    }

    .wrapper {
      display: flex;
      position: relative;
      left: 0%;
      width: 300%;
      height: 100%;
      transition: left 0.25s ease-in-out 0.125s;
    }

    .slide {
      align-items: center;
      color: white;
      display: flex;
      flex-direction: column;
      height: 100%;
      justify-content: center;
      width: 33.33%;

      .text {
        font-size: 18px;
        padding: 0 20%;
        line-height: 1.4;
        text-align: center;
      }
    }
  }

  .footer {
    display: flex;
    justify-content: space-between;
    flex: 1 0 auto;
    position: relative;

    &[data-step="1"] {
      .button-prev {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    &[data-step="3"] {
      .button-next {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    .button {
      align-items: center;
      color: white;
      display: flex;
      justify-content: center;
      padding: 10px;
      transition: opacity 0.125s ease-in-out;
      width: 15%;
    }

    .dots {
      align-items: center;
      flex: 1 0 auto;
      display: flex;
      justify-content: center;

      @for $i from 1 through 3 {
        &[data-step="#{$i}"] {
          .Dot:nth-child(#{$i}) {
            opacity: 1;
          }
        }
      }

      .dot {
        background: white;
        opacity: 0.5;
        margin: 5px;
        width: 8px;
        height: 8px;
        border-radius: 8px;
        transition: opacity 0.125s ease-in-out;
      }
    }
  }
}
